@inherits LayoutComponentBase

<PageTitle>Showcase</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="parallax">
            @Body
        </div>
    </main>
</div>


