@page "/aspdotnetcoreapps"
@layout ParallaxLayout

<HeadContent>
    <link href="css/parallaxBase.css" rel="stylesheet" />
    <link href="css/parallaxBG002.css" rel="stylesheet" />
</HeadContent>

<div class="d-flex d-row w-100" style="height:75px;">
</div>

<div class="parallax-div-container">
    <h1 style="text-align:center;">Git Hub Blazor .NET 6</h1>
    <h2 style="text-align:center;">NO SCROLL ON PAGE LOAD ISSUE RECREATION PROJECT</h2>
    <h2 style="text-align:center;">TO REPRODUCE THIS ERROR CLICK HOME SCROLL DOWN AND CLICK THE LINK TO THIS PAGE</h2>
    <h2 style="text-align:center;">YOU WILL STUCK AT THE BOTTOM OF THIS PAGE ON LOAD.</h2>
    <h5 class="text-danger" style="text-align:center;">Note this bug does not happen everytime so try multiple times to reproduce error.</h5>
</div>


<div class="parallax-div-container">
    <div class="row justify-content-around">
    <ParallaxCard Title="TEST TITLE" CSSClasses="col-sm-3"
                    ListItems='new string[9] {"TEST NOTES"
                                            ,"TEST NOTES", "TEST NOTES"
                                            ,"TEST NOTES", "TEST NOTES"
                                            ,"TEST NOTES", "TEST NOTES"
                                            ,"TEST NOTES","TEST NOTES"}' />
    </div>
</div>



<div class="parallax-div-container">
    <div class="row justify-content-around">
        <ParallaxCard IframeTitle="What is .NET Blazor?"
                      IframeURL="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor"
                      Title="This project was created with Blazor Server .NET 6" CSSClasses="col-sm-12"
                      ListItems='new string[2] {"You are currently visiting this site!"
                    ,"This scroll error does not occur within .NET 5"}' />
    </div>
</div>

<div class="d-flex flex-column justify-content-center parallax-opaque-bg text-center">
    <h2>ASP.NET CORE WEBSITES</h2>
</div>

<div class="d-flex w-100" style="height:10px;">
</div>

<div class="parallax-div-container">
    <div class="row justify-content-around">
        <ParallaxCard IframeTitle="What is .NET Blazor?"
                      IframeURL="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor"
                      Title="This project was created with Blazor Server .NET 6" CSSClasses="col-sm-12"
                      ListItems='new string[2] {"You are currently visiting this site!"
                    ,"This scroll error does not occur within .NET 5"}' />
    </div>
</div>

<div class="d-flex d-row w-100" style="height:300px;">
</div>

<div class="d-flex justify-content-center parallax-opaque-bg">
    <div>
        <h3>This is a test page title</h3>
        <h3>This is a test page title</h3>
        <h3>This is a test page title</h3>
        <h3>This is a test page title</h3>
        <h3>This is a test page title</h3>
        <h3>This is a test page title</h3>
        <h3>This is a test page title</h3>
        <h3>This is a test page title</h3>
    </div>
</div>

<div class="d-flex d-row w-100" style="height:300px;">
</div>

<div class="d-flex justify-content-center parallax-opaque-bg">
    <div class="text-center">
        <h3 class="text-danger">THIS IS THE BUG!</h3>
        <h3>SCOLL GETS INTRUPPTED AND GETS STUCK HERE</h3>
        <h3>I HAVE TRIED TURNING OFF THE IFRAME AND IT STILL GETS STUCK</h3>
        <h3>THIS ISSUES DOES NOT OCCUR WHEN THE SAME PAGE SETUP IS USED WITH BLAZOR SERVER .NET 5 FRAMEWORK</h3>
        <h3>HOPE THIS HELPS!</h3>
    </div>
</div>
