@page "/"
@layout ParallaxLayout

<HeadContent>
    <link href="css/parallaxBase.css" rel="stylesheet" />
    <link href="css/parallaxBG001.css" rel="stylesheet" />
</HeadContent>

<PageTitle>BLAZOR NET6 ISSUES RECREATION ASDFASDFASDF</PageTitle>

<div id="topDiv" class="trnDiv-1" style="height: 75px;"></div>

<div class="parallax-div-container">
    <h1 style="text-align:center;">Git Hub Blazor .NET 6</h1>
    <h2 style="text-align:center;">NO SCROLL ON PAGE LOAD ISSUE RECREATION PROJECT</h2>
</div>
<ParallaxDivisionNotes Notes='new string[1] {"SCROLL DOWN FOR LINK TO CLICK"}'></ParallaxDivisionNotes>

<div class="parallax-div-container">
    <h3 style="text-align:center;">BUSINESS SOLTUIONS</h3>
</div>

<div class="trnDiv-1" style="height: 10px;">
</div>

<div class="parallax-div-container">
    <div class="row justify-content-around">
        <ParallaxCard Title="TEST TEST TITLE" CSSClasses="col-sm-3"
                      ListItems='new string[9] {"TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES","TEST NOTES"}' />

        <ParallaxCard Title="TEST TEST TITLE" CSSClasses="col-sm-3"
                      ListItems='new string[9] {"TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES","TEST NOTES"}' />

        <ParallaxCard Title="TEST TEST TITLE" CSSClasses="col-sm-3"
                      ListItems='new string[9] {"TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES","TEST NOTES"}' />

    </div>
</div>

<ParallaxDivisionNotes Notes='new string[1] {"SCROLL DOWN FOR LINK TO CLICK"}'></ParallaxDivisionNotes>

<div class="parallax-div-container">
    <h3 style="text-align:center;">SCROLL DOWN FOR LINK TO CLICK</h3>
</div>

<div class="trnDiv-1" style="height: 10px;">
</div>

<div class="parallax-div-container">
    <div class="row justify-content-around">
        <ParallaxCard Title="TEST TEST TITLE" CSSClasses="col-sm-6"
                      ListItems='new string[9] {"TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES","TEST NOTES"}' />

        <ParallaxCard Title="TEST TEST TITLE" CSSClasses="col-sm-6"
                      ListItems='new string[9] {"TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES","TEST NOTES"}' />

    </div>
</div>


<ParallaxDivisionNotes Notes='new string[1] {"TEST NOTE..."}'></ParallaxDivisionNotes>

<div class="parallax-div-container">
    <h3 style="text-align:center;">SCROLL DOWN FOR LINK TO CLICK</h3>
</div>

<div class="trnDiv-1" style="height: 10px;">
</div>

<div class="parallax-div-container">
    <div class="row justify-content-around">
        <ParallaxCard Title="TEST TEST TITLE" CSSClasses="col-sm-11"
                      ListItems='new string[9] {"TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES","TEST NOTES"}' />

        <ParallaxCard Title="TEST AREA" CSSClasses="col-sm-11"
                      ListItems='new string[9] {"TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES", "TEST NOTES"
                                                ,"TEST NOTES","TEST NOTES"}' />
    </div>
</div>

<ParallaxDivisionNotes Notes='new string[1] {"TEST NOTES"}'></ParallaxDivisionNotes>

<div class="parallax-div-container text-center">
    <h5 class="text-danger">This scrolling error on page load after clicking the link below does not occur everytime.</h5>
    <h5 class="text-danger">However, if you repeat this process 10 times im sure you will get the error to occur.</h5>
    <h3>"BUG ISSUE UPON LINK CLICK -- PROBABILITY 30%"  
        <a href="aspdotnetcoreapps">THIS NAVIGATION LINK TO THE NEXT PAGE 30% OF THE TIME DOES NOT SCROLL TO TOP WHEN CLICKED</a></h3>
</div>


<div class="trnDiv-1" style="height: 300px;">
</div>
